Name: Krosovahn Mendesil
Nom: Krosovahn Mendesil
État: libre

-- Desc (en) --

-- Desc (fr) --

-- End desc ---

----- Fields ------------------------------------------------------------------
BlurbEN: Variant Gang Leader
BlurbFR: Variante de Chef de gang
-------------------------------------------------------------------------------

----- Items -------------------------------------------------------------------
ID: PDidp7qMSw5qRoXU
Name: Quick Draw
Nom: Arme en main
-- Desc (en) --
<p>Krosovahn Mendesil Interacts to draw a weapon, then Strikes with that weapon.</p>
-- Desc (fr) --
<p>Krosovahn Mendesil dégaine une arme en utilisant une action @UUID[Compendium.pf2e.actionspf2e.Item.pvQ5rY2zrtPI614F]{Interagir} puis Frappe avec cette arme.</p>
-- End desc ---

ID: U1pVgJkNIeXvdXNP
Name: Underworld Lore
Nom: Connaissance de la pègre

ID: XGWTM0UHTzKpqVhz
Name: Shortbow
Nom: Arc court

ID: YbU81Mt76p0wOHrW
Name: Tanglefoot Bag (Lesser)
Nom: Bombe collante inférieure
-- Desc (en) --
<p><strong>Activate</strong> <span class="action-glyph">1</span> Strike</p>
<hr />
<p>A tanglefoot bag is filled with sticky substances. When you hit a creature with a tanglefoot bag, that creature takes a -10-foot status penalty to its Speeds for 1 minute. The Escape DC is 17.</p>
<p>On a critical hit, a creature in contact with a solid surface becomes stuck to the surface and @UUID[Compendium.pf2e.conditionitems.Item.eIcWbB5o3pP6OIMe]{Immobilized} for 1 round, and a creature flying via wings has its wings tangled, causing it to fall safely to the ground and become unable to Fly again for 1 round. Tanglefoot bags are not effective when used on a creature that is in water.</p>
<p>The target can end any effects by Escaping or spending a total of 3 actions to carefully remove the sticky substances. These Interact actions don't have to be consecutive, and other creatures can provide the actions as well.</p>
-- Desc (fr) --
<p><strong>Activation</strong> <span class="action-glyph">1</span> Frappe</p>
<hr />
<p>Une <em>bombe collante</em> est un mécanisme explosif inoffensif contenant des substances collantes. Lorsque vous touchez une créature avec une <em>bombe collante</em>, cette créature subit une pénalité de statut de -4,50 mètres à ses Vitesses pendant 1 minute. Le DD pour s'@UUID[Compendium.pf2e.actionspf2e.Item.SkZAQRkLLkmBQNB9]{Échapper} est de 17.</p>
<p>Sur un coup critique, une créature en contact avec une surface solide y reste collée et @UUID[Compendium.pf2e.conditionitems.Item.eIcWbB5o3pP6OIMe]{Immobilisée} pendant 1 round et une créature qui vole grâce à des ailes voient ces dernières enchevêtrées et se pose au sol sans se blesser, incapable de Voler de nouveau pendant 1 round. La <em>bombe collante</em> est inefficace lorsqu'elle est utilisée sur une créature qui se trouve dans l'eau.</p>
<p>La cible peut mettre un terme à l'effet en S'échappant ou en passant un total de 3 actions Interagir à éliminer soigneusement la substance collante. Ces actions Interagir ne sont pas obligatoirement consécutives et d'autres créatures peuvent les fournir.</p>
-- End desc ---

ID: b4eGXoRWpidh8A9B
Name: You're Next
Nom: T'es le suivant
-- Desc (en) --
<p><strong>Trigger</strong> Krosovahn Mendesil reduces an enemy to 0 Hit Points</p><hr /><p><strong>Effect</strong> After downing the foe, Krosovahn Mendesil menacingly reminds another foe that he's coming after them next. Krosovahn Mendesil attempts an Intimidation check with a +2 circumstance bonus to [[/act demoralize options=youre-next]] a single creature that he can see and that can see him.</p>
-- Desc (fr) --
<p><strong>Déclencheur</strong> Krosovahn Mendesil réduit les Points de vie d'une créature à 0 </p>
<hr />
<p><strong>Effet</strong> Après avoir abattu un adversaire, Krosovahn Mendesil en menace un autre. Krosovahn effectue un test d'Intimidation avec un bonus de circonstances de +2 pour [[/act demoralize options=youre-next]]{Démoraliser} une seule créature qu'il peut voir et qui peut le voir.</p>
-- End desc ---

ID: hPvbrfNrVtSQxTyl
Name: Dagger
Nom: Dague

ID: j1wf4dSXkGypJjRs
-- Desc (en) --
<p>Krosovahn Mendesil deals an extra 2d6 precision damage to @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{Off-Guard} creatures</p>
-- Desc (fr) --
<p>Krosovahn Mendesil inflige 2d6 dégâts de précision supplémentaires aux créatures @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{Prises au dépourvu}.</p>
-- End desc ---

ID: kSd8rIlnXiVczYg0
Name: Deny Advantage
Nom: Refus d'avantage
-- Desc (en) --
<p>Krosovahn Mendesil isn't @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{Off-Guard} to creatures of 5th level or lower that are @UUID[Compendium.pf2e.conditionitems.Item.iU0fEDdBp3rXpTMC]{Hidden}, @UUID[Compendium.pf2e.conditionitems.Item.VRSef5y1LmL2Hkjf]{Undetected}, flanking, or using surprise attack.</p>
-- Desc (fr) --
<p>Krosovahn Mendesil n'est pas @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{{Pris au dépourvu}} par les créatures de niveau 5 ou inférieur qui sont @UUID[Compendium.pf2e.conditionitems.Item.iU0fEDdBp3rXpTMC]{Cachées}, @UUID[Compendium.pf2e.conditionitems.Item.VRSef5y1LmL2Hkjf]{Non détectées}, qui le prennent en tenaille ou qui utilisent une @UUID[Compendium.pf2e.classfeatures.Item.w6rMqmGzhUahdnA7]{Attaque surprise}.
-- End desc ---

ID: mOBUJvKz2hnXar6W
-- Desc (en) --
<p>A healing potion is a vial of a ruby-red liquid that imparts a tingling sensation as the drinker's wounds heal rapidly. When you drink a healing potion, you regain @Damage[(2d8+5)[healing]] Hit Points.</p>
-- Desc (fr) --
<p><strong>Activation</strong> <span class="action-glyph">A</span> (manipulation)</p>
<hr />
<p>Une <em>potion de guérison</em> se présente sous forme de liquide rouge rubis contenu dans une fiole. Elle provoque de légers picotements tandis que les plaies du buveur se referment rapidement. Lorsque vous buvez une <em>potion de guérison inférieure</em>, vous récupérez @Damage[(2d8+5)[healing]]{2d8+5 Points de vie}.</p>
-- End desc ---

ID: nqb7mXuxHlDG3xov
Name: Shortsword
Nom: Épée courte

ID: qNEPB3RKC3SlV4YE
Name: Surprise Attack
Nom: Attaque surprise
-- Desc (en) --
<p>On the first round of combat, if Krosovahn Mendesil rolls Deception or Stealth for initiative, creatures who haven't acted are @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{Off-Guard} to Krosovahn Mendesil.</p>
-- Desc (fr) --
<p>Si Krosovahn utilise Duperie ou Discrétion pour son initiative, les créatures qui n'ont pas encore agi sont @UUID[Compendium.pf2e.conditionitems.Item.AJh5ex99aV6VTggg]{Prises au dépourvu} par rapport à lui au cours du premier round de combat.</p>
-- End desc ---

ID: uFO5sIVHSalVgMAY
Name: Dagger
Nom: Dague

ID: wXgvnztT7r9jO7Px
Name: Brutal Rally
Nom: Mobilisation par la violence
-- Desc (en) --
<p><strong>Trigger</strong> Krosovahn Mendesil rolls a critical hit against a creature</p>
<hr />
<p><strong>Effect</strong> All allies that can see Krosovahn Mendesil gain a +1 circumstance bonus to attack rolls until the start of Krosovahn Mendesil's next turn.</p>
<p>@UUID[Compendium.pf2e.bestiary-effects.Item.7x0O2GqWBJiAk5PF]{Effect: Brutal Rally}</p>
-- Desc (fr) --
<p><strong>Déclencheur</strong> Krosovahn Mendesil obtient un coup critique contre une créature</p>
<hr />
<p><strong>Effet</strong> Tous les alliés qui voient Krosovahn gagnent un bonus de circonstances de +1 à leurs jets d'attaque jusqu'au début du prochain tour de Krosovahn.</p>
<p>@UUID[Compendium.pf2e.bestiary-effects.Item.7x0O2GqWBJiAk5PF]{Effet : Mobilisation par la violence}</p>
-- End desc ---

-------------------------------------------------------------------------------
